[submodule "crates/imnodes"]
	path = crates/imnodes
	url = https://github.com/Diegovsky/imnodes-rs
	branch = chore/only-bump-imgui
[submodule "crates/odeir"]
	path = crates/odeir
	url = https://github.com/syndelis/odeir
	branch = master
[submodule "crates/implot-rs"]
	path = crates/implot-rs
	url = https://github.com/syndelis/implot-rs
	branch = ode-designer
